    .online-wrapper .onl-block:hover {
        background: rgb(41, 154, 118);
        transition: all ease-in .2s;
        text-decoration: none;
    }
    .online-wrapper:hover {
        background: rgb(41, 154, 118);
        transition: all ease-in .2s;
        text-decoration: none!important;
    }
    .online-wrapper:focus {
        text-decoration: none!important;
    }
    .fh {
        width: 100%;
        position: relative;
    }
    .fh-header {
        height: 620px;
        background-color: #3e43c8;
    }
    .fh-left {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 100%;
    }
    .fh-left img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 1;
        max-width: 800px;
    }
    .fh-left .text {
        height: auto;
        position: absolute;
        bottom: 40px;
        left: 120px;
        z-index: 3;
        width: 420px;
        background: transparent;
    }
    .fh-left .text .text__title {
        width: 420px;
        margin-bottom: 20px;
        color: #fff;
        font-size: 30px;
        line-height: 35px;
        font-family: 'FiraSans-Medium';    
    }
    .fh-left .text .text__subtitle {
        width: 420px;
        margin-bottom: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        font-family: 'FiraSans-Regular';
    }
    .fh-right {
        position: relative;
        float: right;
        width: 50%;
        height: 100%;
    }
    .online-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
    }
    .onl-block {
        padding: 40px;
        background-color: #1fb38c;
        width: 520px;
        height: 290px;
    }
    .onl-block .top .top__title {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin: 0 0 105px 0;
        color: #fff;
        position: relative;
        width: auto;
        font-family: 'FiraSans-Bold';
    }
    .onl-block .top .top__oval {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        right: 0px;
        top: 4px;
    }
    .online-btn {
        margin: 20px 0;
        border-radius: 70px;
        background: #fff;
        height: 50px;
        line-height: 50px;
        width: 100%;
        font-size: 18px;
        color: #1fb38c;
        border: none;
        text-align: center;
        text-align: -webkit-center;
    }
    .top__oval .oval-inner {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        position: absolute;
        top: 6px;
        left: 6px;
    }
    .onl-block .bottom .bottom__text {
        font-size: 18px;
        line-height: 25px;
        color: #fff;
        width: auto;
        font-family: 'FiraSans-Regular';
    }
    .right-part__content {
        width: 520px;
        float: right;
        padding: 40px;
    }
    @media screen and (min-width: 1200px) {
        .hide-desktop {
            display: none;
        }
        .hide-mobile {
            display: block;
        }
    }
    @media screen and (max-width: 1199px) {
        .hide-mobile {
            display: none;
        }
        .hide-desktop {
            display: block;
        }
    }
    .fh-page__middle .left-part__content {
        background: #f9f9f9;
        height: auto;
        float: left;    
        width: calc(100% - 520px);
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        padding-left: 120px; 
    }
    .fh-page__middle .left-part__title {
        background: #f9f9f9;
        width: 100%;
    }
    .fh-page__middle .left-part__title .title {
        color: #000;
        text-transform: capitalize;
        font-family: 'FiraSans-Bold';
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin: 40px 0 0 40px;
    }
    .fh-page__middle .candidates-item {
        position: relative;
        display: block;
        width: 50%;
        height: 340px;
        -webkit-transition: .25s;
        -moz-transition: .25s;
        -ms-transition: .25s;
        -o-transition: .25s;
        transition: .25s;
    }
    .fh-page__middle .candidates-item:hover {
        background-color: #e0e0e0;
    }
    .fh-page__middle .candidates-img {
        float: right;
        margin-right: 80px;
        margin-top: 60px;
    }
    .fh-page__middle .candidates-img img {
        display: block;
        height: 170px;
    }
    .fh-page__middle .candidate {
        position: absolute;
        bottom: 15px;
        left: 40px;
    }
    .fh-page__middle .candidate h4 {
        max-width: 100px;
        color: #000;
        text-transform: capitalize;
        font-family: 'FiraSans-Bold';
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin: 0 0 30px 0;
    }
    .fh-page__middle .candidate p {
        color: #636363;
        font-family: 'FiraSans-Regular';
        font-size: 14px;
        line-height: 30px;
        position: absolute;
        min-width: 222px;
        margin: 0;
        left: 0;
        bottom: 5px;
    }
    .news-item {
        text-decoration: none;
        margin-bottom: 40px;
        display: block;
    }
    .news-item .item__time {
        font-family: 'FiraSans-Light';
        color: #636363;
        font-size: 14px;
        line-height: 20px;
        padding: 0;
        margin: 0 0 10px 0;
    }
    .news-item .item__text {
        font-family: 'FiraSans-Regular';
        color: #252aa6;
        font-size: 18px;
        line-height: 25px;
        max-width: 360px;
        padding: 0;
        margin: 0;
    }
@media screen and (min-width: 320px) and (max-width: 1199px) {
    
    .onl-block {
        padding: 20px;
        width:  auto;
        height:  auto;
    }
    .fh-right {
        float: none;
        position: relative;
        width: 100%;
        height:  auto;
    }

    .fh-left {
        float:  none;
        width: 95%;
    }

    .fh-left .text {
        left: 40px;
    }

    .online-wrapper {
        position: relative;
    }

    .onl-block .top .top__title {
        margin-bottom: 20px;
    }

    .fh-page__middle .left-part__content {
        padding-left:  0;
        width: 100%;
        float:  none;
        height:  auto;
        display:  flex;
        position:  relative;
    }

    .fh-page__middle {
        height: auto;
        display: block;
        position: relative;
    }
}
/*polygon:hover {
    fill: red;
}*/
.online-btn:active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}
.online-btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}
.right-part__content .news-item {
    width: auto;
    margin-bottom: 40px;
}
@keyframes pulse {
    0%   { transform: scale( 1 ); }
    50% { transform: scale( 1.4 ); }
    100%  { transform: scale( 1 ); }
}
.top__oval {
    animation: pulse 2s infinite;
}
.right-part__content {
    padding: 40px 0 40px 40px!important;
}
.right-part__content.news::before {
    background: none!important;
}
.top__oval .oval-inner {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    position: absolute;
    top: 6px;
    left: 6px;
}
.fh-page__middle .left-part__content {
    background: #f9f9f9;
    height: auto;
    float: left;    
    width: calc(100% - 520px);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px; 
}
.news-item {
    text-decoration: none;
    margin-bottom: 40px;
    display: block;
}
.news-item .item__time {
    font-family: 'FiraSans-Light';
    color: #636363;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0 0 10px 0;
}
.news-item .item__text {
    font-family: 'FiraSans-Regular';
    color: #252aa6;
    font-size: 18px;
    line-height: 25px;
    max-width: 360px;
    padding: 0;
    margin: 0;
}
.fh-page__middle .left-part__title {
    background: #f9f9f9;
    width: 100%;
}
.fh-page__middle .left-part__title .title {
    color: #000;
    text-transform: capitalize;
    font-family: 'FiraSans-Bold';
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin: 40px 0 0 40px;
}
.fh-page__middle .candidates-item {
    position: relative;
    display: block;
    width: 50%;
    height: 340px;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
.fh-page__middle .candidates-item:hover {
    background-color: #e0e0e0;
}
.fh-page__middle .candidates-img {
    float: right;
    margin-right: 80px;
    margin-top: 60px;
}
.fh-page__middle .candidates-img img {
    display: block;
    height: 170px;
}
.fh-page__middle .candidate {
    position: absolute;
    bottom: 15px;
    left: 40px;
}
.fh-page__middle .candidate h4 {
    max-width: 100px;
    color: #000;
    text-transform: capitalize;
    font-family: 'FiraSans-Bold';
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin: 0 0 30px 0;
}
.fh-page__middle .candidate p {
    color: #636363;
    font-family: 'FiraSans-Regular';
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    min-width: 222px;
    margin: 0;
    left: 0;
    bottom: 5px;
}

@media screen and (min-width: 1200px) {
    .hide-desktop {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .onl-block {
        padding: 40px!important;
    }

}
@media screen and (min-width: 320px) and (max-width: 1199px) {
    .hide-desktop {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
    .right-part__content .news-item {
        width: 150px;
    }
    .right-part__content {
        padding: 40px 0 40px 40px;
        width: 100%;
        background: #fff;
    }
    .fh-page__middle .left-part {
        float: none;
    }
    .news-item {
        text-decoration: none;
        margin-bottom: 40px;
        display: inline-block;
        width: 32.3333%;
    }
    .fh-page__middle .left-part__content {
        width: auto;
        padding: 0;
    }
    .right-part__content .news-item {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .right-part__content {
        padding: 20px 0 20px 20px!important;
    }
    .right-part__content .owl-dots {
        right: 60px!important;
    }
    .online-btn {
        height: 40px!important;
        line-height: 40px!important;
        font-size: 16px!important;
    }
    .fh-page__middle .candidates-item {
        width: 100%!important;
    }
    .online-wrapper .onl-block {
        padding: 20px;
    }
    .onl-block .top .top__title {
        font-size: 20px;
        line-height: 25px;
    }
    .onl-block .bottom .bottom__text {
        font-size: 12px;
        line-height: 15px;
    }
    .fh-left .text .text__title {
        width: auto;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .fh-left .text .text__subtitle {
        width: auto;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
    }
    .fh-header {
        height: 300px;
    }
    .fh-left .text {
        left: 20px;
        width: auto;
        bottom: 20px;
    }
    .fh-page__middle .candidates-item {
        height: 150px;
    }

    .fh-page__middle .candidates-img {
        margin: 25px 10px 10px 10px;
    }

    .fh-page__middle .candidates-img img {
        width:  104px;
        height: 104px;
    }

    .fh-page__middle .candidate h4 {
        font-size:  18px;
        line-height: 20px;
        margin: 0;
    }

}